<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Author List</title>
</head>
<body>
<h2>Author List</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.name}"></td>
        <td>
            <a th:href="@{/authors/{id}/edit(id=${author.id})}">Edit</a>
            <a th:href="@{/authors/{id}/delete(id=${author.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/authors/create}">Create New Author</a>
</body>
</html>
