<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Book</title>
</head>
<body>
<h2>Create Book</h2>
<form th:action="@{/books/create}" th:object="${book}" method="post">
    <label>Title: <input type="text" th:field="*{title}" /></label>
    <br />
    <label>Author:
        <select th:field="*{author}">
            <option th:each="i: ${author}" th:value="${i.id}" th:text="${i.name}"></option>
        </select>
    </label>

    <br />
    <input type="submit" value="Create" />
</form>
<a th:href="@{/books}">Back to Book List</a>
</body>
</html>