<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
</head>
<body>
<h2>Edit Book</h2>
<form th:action="@{/books/{id}/edit(id=${book.id})}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Title: <input type="text" th:field="*{title}" /></label>
    <br />
    <label>Author:
        <select th:field="*{author}">
            <option th:each="i: ${author}" th:value="${i.id}" th:text="${i.name}"></option>
        </select>
    </label>
    <input type="submit" value="Update" />
</form>
<a th:href="@{/books}">Back to Book List</a>
</body>
</html>
